{% extends "permitting/layout.html" %}
{% load static %}

{% block title %}
Daily Openning for Permit #{{ permit_id }}
{% endblock %}

{% block body %}
<div class="container-sm mb-3">
    <div class="mb-3">
        <h1>Daily Openning for Permit</h1>
        <a class="minor-link" href="{% url 'permitting:permit_display' permit_id=permit_id %}" target="_blank">Permit details</a>
    </div>
    <div class="mb-3">
        <form action="{% url 'permitting:permit_open_for_day' permit_id=permit_id %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <div class="mb-3 mx-auto w-50">
                    <p>
                        <strong>
                            {% if "safety_gatekeeper" in appointments %}
                            I confirm that the work area & equipment for task "{{ task_description }}" per permit #{{ permit_id }} is ready for the workers to be led in.
                            {% endif %}
                            {% if "foreman" in appointments %}
                            I confirm that I have lead the workers into the work area for task "{{ task_description }}" per permit #{{ permit_id }}.
                            {% endif %}
                        </strong>
                    </p>
                </div>
                {{ form }}
            </div>
            <button class="btn btn-primary" type="submit">Confirm</button>
        </form>
    </div>
</div>
{% endblock %}
